Given a Bank customer, can we build a classifier that can determine whether they will leave or
not using Neural networks

1. Read the dataset
2. Drop the columns which are unique for all users like IDs (2.5 points)
3. Distinguish the feature and target set (2.5 points)
4. Divide the data set into train and test sets
5. Normalize the train and test data (2.5 points)
6. Initialize & build the model (10 points)
7. Optimize the model (5 points)
9. Predict the results using 0.5 as a threshold (5 points)
10. Print the Accuracy score and confusion matrix (2.5 points)

In [0]:
# Importing the necessary packages
import tensorflow as tf
import pandas as pd
import numpy as np

# 1. Read the dataset

In [35]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [53]:
# Reading the dataset

df = pd.read_csv('/content/drive/My Drive/Data  Science/Churn.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

# 2. Drop the columns which are unique for all users like IDs

In [0]:
# Dropping irrelevant columns

df.drop(["RowNumber","CustomerId","Surname"], axis=1, inplace=True)

# 3. Distinguish the feature and target set

In [0]:
# Before distinguishing, converting the string columns to numerical columns using Label Encoder and creating dummies

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

label_encoder = LabelEncoder()
df['Gender']= label_encoder.fit_transform(df['Gender'])
df['Geography']= label_encoder.fit_transform(df['Geography'])
df = pd.get_dummies(df, columns = ['Geography'])

In [57]:
df.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_0', 'Geography_1', 'Geography_2'],
      dtype='object')

In [0]:
Y = df['Exited']
X = df.drop(['Exited'], axis = 1)

# 4. Divide the data set into train and test sets

In [0]:
# Splitting the dataframe into training and test set in the ratio of 70:30

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 76)

# 5. Normalize the train and test data

In [0]:
# Normalizing the data

from sklearn.preprocessing import Normalizer
Normalize = Normalizer()
Norm_X_train =  Normalize.fit_transform(X_train) 
Norm_X_test =  Normalize.fit_transform(X_test)

In [0]:
Y_train = Y_train.astype('float32')
Y_train_array = Y_train.values

Y_test = Y_test.astype('float32')
Y_test_array = Y_test.values

# 6. Initialize & build the model

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, Flatten, Reshape

In [78]:
#Model Building 

classifier = Sequential()
# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 12))
# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=12, units=6, kernel_initializer="uniform")`
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

# 7. Optimize the model

In [0]:
#Compile the model
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [80]:
classifier.fit(X_train_norm, Y_train_array, epochs=10, validation_data=(X_test_norm, Y_test_array))

Train on 7000 samples, validate on 3000 samples
Epoch 1/10
7000/7000 [==============================] - 1s 166us/step - loss: 0.6132 - acc: 0.7927 - val_loss: 0.5071 - val_acc: 0.8000
Epoch 2/10
7000/7000 [==============================] - 1s 110us/step - loss: 0.5086 - acc: 0.7947 - val_loss: 0.5013 - val_acc: 0.8000
Epoch 3/10
7000/7000 [==============================] - 1s 111us/step - loss: 0.5080 - acc: 0.7947 - val_loss: 0.5014 - val_acc: 0.8000
Epoch 4/10
7000/7000 [==============================] - 1s 111us/step - loss: 0.5080 - acc: 0.7947 - val_loss: 0.5014 - val_acc: 0.8000
Epoch 5/10
7000/7000 [==============================] - 1s 112us/step - loss: 0.5080 - acc: 0.7947 - val_loss: 0.5013 - val_acc: 0.8000
Epoch 6/10
7000/7000 [==============================] - 1s 111us/step - loss: 0.5081 - acc: 0.7947 - val_loss: 0.5014 - val_acc: 0.8000
Epoch 7/10
7000/7000 [==============================] - 1s 111us/step - loss: 0.5081 - acc: 0.7947 - val_loss: 0.5012 - val_acc: 0.8000
Epoch 8/10
7000/7000 [==============================] - 1s 111us/step - loss: 0.5080 - acc: 0.7947 - val_loss: 0.5013 - val_acc: 0.8000
Epoch 9/10
7000/7000 [==============================] - 1s 114us/step - loss: 0.5080 - acc: 0.7947 - val_loss: 0.5011 - val_acc: 0.8000
Epoch 10/10
7000/7000 [==============================] - 1s 113us/step - loss: 0.5080 - acc: 0.7947 - val_loss: 0.5017 - val_acc: 0.8000

# 8. Predict the results using 0.5 as a threshold

In [0]:
Y_pred = bank_model.predict(X_test_norm)

In [82]:
Y_pred = (Y_pred>0.5)
Y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

# 9. Print the Accuracy score and confusion matrix

In [0]:
from sklearn.metrics import confusion_matrix, accuracy_score
CM= confusion_matrix(Y_test_array, Y_pred)
Acc = accuracy_score(Y_test_array, Y_pred)

In [86]:
CM

array([[2400,    0],
       [ 600,    0]])

In [87]:
Acc

0.8